.tab {
    
    &-panel {
        display: flex;
        width: 100%;
        min-height: 50px;
        border: 1px solid rgba(0,0,0, .2);
        border-radius: 10px 10px 0 0;
    }
    &-item {
        font-size: 18px;
        line-height: 27px;
        padding: 10px 20px;
        border-right: 1px solid rgba(0,0,0, .2);
        cursor: pointer;
        &:last-child {
            border-right: none;
        }
        &--active {
            background-color: $c-primary;
            color:  $c-white;
            &:first-child {
                border-radius: 10px 0 0 0;
            }
        }
    }
    &-content {
        display: none;
        padding: 20px;
        border: 1px solid rgba(0,0,0, .2);
        border-top: none;
        border-radius: 0 0 10px 10px;
        &--active {
            display: block;
        }
    }
}