* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

.container {
    max-width: 1140px;
    padding: 0px 15px;
    margin: 0px auto;
}